
body {
        background-image: url('f.jpg');

        background-size: cover; /* Ensures the image covers the entire page */
        background-position: center center; /* Centers the background image */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        text-align: center;
}


.navbar {
    background-color: #333333;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
  }

h3.mt-5 {
    color: white;
}


.card {
    background-color: rgba(255, 255, 255, 0.5); /* White background with 80% opacity */
    border: none; /* Optional: Removes the card border for a cleaner look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a subtle shadow */
}
