
body {
        background-image: url('f.jpg');

        background-size: cover; /* Ensures the image covers the entire page */
        background-position: center center; /* Centers the background image */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        text-align: center;
}


.navbar {
    background-color: #333333;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
  }
